
{% extends "base.html" %}

<!--Stable version warning-->
{% block outdated %}
  You're not viewing the stable version.
  <a href="{{ '../' ~ base_url }}"> 
    <strong>Click here to go to stable.</strong>
  </a>
{% endblock %}

<!-- Announcement bar -->
{% block announce %}
  <span class="twemoji">
    {% include ".icons/fontawesome/solid/circle-exclamation.svg" %}
  </span>
  ATTENTION!
  <span class="twemoji">
    {% include ".icons/fontawesome/solid/circle-exclamation.svg" %}
  </span>
  Open 3P is <strong>free and open</strong>, under the
  <a rel="me" href="{{ '10_Licence/10_01_Licence' | url }}">
    <strong>Apache License, Version 2.0</strong>
  </a>
  . To be kept informed of updates, events and news then signup to our 
  <a target="_blank" href="{{ 'http://eepurl.com/iB-Qhk' | url}}">
    <strong>mailing list</strong>
  </a>
  .
{% endblock %}